
<mat-card>
  <mat-card-title>Formulário de Contato</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite seu nome" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Digite seu email" required email>
      </mat-form-field>

      <button mat-raised-button color="primary">Enviar</button>
    </form>
  </mat-card-content>
</mat-card>
<app-datepicker></app-datepicker>